#webapp共享目录
uxuexi-parent/uxuexi-web-parent/*/src/main/webapp/WEB-INF/share
uxuexi-web-support-parent/*/src/main/webapp/WEB-INF/share
#上传文件
uploadroot
#正式代码的.project
uxuexi-parent/.project
uxuexi-parent/*/.project
uxuexi-parent/*/*/.project
uxuexi-parent/*/*/*/.project
#正式代码的.classpath
uxuexi-parent/.classpath
uxuexi-parent/*/.classpath
uxuexi-parent/*/*/.classpath
uxuexi-parent/*/*/*/.classpath
#项目设置
.settings
#编译输出文件
bin
target
classes
.class
test-output
#设计pd的临时文件
*.oob
#vim纺织的临时文件
*.swp
*.pdf
#本地静态文件
#*.jpg
#*.png
#*.gif
#本地的image
image
uploadroot